div {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

div div {
    display: flex;
    align-items: center;
    justify-content: center;
}